

#mitadBlanca{
   
    width: 100%;
    height: 500px;
    background-color: white;
    text-align: center;
    color: rgb(9, 11, 78);
    position:relative;
    margin: 50 auto auto 400;
}

#login{
    
}

#empleado{
    
    width: 100%;
    height: 77px;
    text-align: center;
    background-color: rgb(9, 11, 78);
    position:relative;
    color:white;
}
#logo{
    height: 50px !important;
    display:inline;
   float:left;
    
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
footer{
    width:100%;
   
    background-color: #555;
    color: white;
    padding:15px;
    
}

